<div class="last-editions-wrapper">
    <div class="editions-image-wrapper">
        <img class="image-editions-effect" src="{{ site.baseurl }}/_images/ML_Workflow.png">
    </div>
    <div class="editions-text-wrapper">
        <h1 class="editions-title">Sobre o que é este curso?</h1>
        <h4 class="editions-text"> Baseado no artigo “Practices for managing machine learning products: A multivocal literature review” do LabLivre (no IEEE Transactions on Engineering Management), este curso oferece uma visão completa do ciclo de ML — da identificação de stakeholders ao deploy em produção — incluindo gerenciamento de dados, engenharia de features, seleção de modelos, escalabilidade e monitoramento contínuo, além de abordar aspectos organizacionais como formação de equipes, definição de métricas de negócio e governança ética (privacidade, equidade e segurança). É ideal para profissionais que desejam liderar projetos de ML considerando tanto os desafios técnicos quanto os impactos organizacionais.</h4>
        <h4 class="editions-text"> O design de sistemas de ML é o processo de definir arquitetura, infraestrutura, algoritmos e dados para atender requisitos específicos de forma robusta e sustentável. Embora tutoriais sejam eficazes para colocar modelos em funcionamento, os sistemas resultantes rapidamente se tornam obsoletos devido a três fatores: evolução das ferramentas, mudanças nos requisitos de negócio e deriva de dados.
Sem design intencional, sistemas de ML se transformam em passivos técnicos - propensos a erros, difíceis de manter e que perdem valor rapidamente. Um design arquitetural bem planejado é fundamental para criar soluções duradouras e escaláveis.</h4>
    </div>
</div>