<div class="method-wrapper">
    <div class="method-title-wrapper">
        <h1 class="method-title">Método - Disciplina Orientada a Projetos</h1>
    </div>

    <div class="method-content-wrapper">
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="32" src="{{ site.baseurl }}/_images/ead.png">
                <h2 class="method-content-title">
                      Challenges
                </h2>
            </div>
            <p class="method-content-text">
                Ao longo da disciplina, os alunos desenvolveram pequenas soluções práticas para consolidar os conceitos apresentados em sala de aula. Serão desenvolvidos Agentes de IA, RAG, classificadores. Utilizando tecnologias livres como mlflow, Ragflow, LLMs (sabia), keras, etc.
            </p>
        </div>
        <div class="method-content">
            <div class="method-content-container">
                <img class="method-image" height="32" src="{{ site.baseurl }}/_images/group.png"> 
                <h2 class="method-content-title">
                   Prova de Conceito (PoC)
                </h2>
            </div>
            <p class="method-content-text">
                Ao longo do curso, equipes reduzidas criaram provas de conceito com o objetivo de explorar mais a fundo desafios e ferramentas no desenvolvimento de sistemas de aprendizado de máquina
            </p>
        </div>
    </div>
</div>